.allPerformanceCoins{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.performanceDivCoins{
    cursor: pointer;
    background-color: #3e4240;
    display: flex;
    height: 100%;
    padding: 0px 10px;
}

.coinsSelect{
    background-color: #3e4240;
    border-bottom: 1px solid white;
    padding-left: 10px !important;
    padding: 5px;
}

.coinsSelect:nth-last-child(1){
    border-bottom: none;
}

.openDivCoins{
    cursor: pointer;
    color: white;
    z-index: 10;
    position: absolute;
    top: 20;
    margin-top: 33px;
    width: 100%;
}
